{% extends "ProjektWypozyczalniaSamochodow:Default:layout.html.twig" %}


{% block title %}Napisz recenzje{% endblock %}



{#
<form name="review" method="post" action="">
    <div id="review">
        <div>
            <label for="review_title" class="required">Tytuł</label>
            <input type="text" id="review_title" name="review[title]" required="required" />
        </div>
        <div>
            <label for="review_description" class="required">Recenzja</label>
            <input type="text" id="review_description" name="review[description]" required="required" />
        </div>
        <div>
            <button type="submit" id="review_save" name="review[save]">Zapisz recencję</button>
        </div>
        <input type="hidden" id="review__token" name="review[_token]" value="xZNPughjDRkQ6Kiz7Wf7YyF8DkOXNykb0LDXWMU66xw" />
    </div>
</form>


{{ form(form) }}


<section>
	<label for="file" class="input">
		<input type="text" id="review_title" name="review[title]" required="required" placeholder="Tytuł" />
	</label>
</section>

 <section>
	<label for="file" class="input">
		{{ form_widget(form.title, {'attr': {'placeholder': 'Tytuł'}}) }}
	</label>
</section>


<section>
	<label class="textarea">
		<textarea id="review_description" name="review[description]" required="required" placeholder="Treść recenzji"></textarea>
	</label>										 
</section>

<section>
	<label for="file" class="input">
		<input type="text" name="address" placeholder="Address">
	</label>
</section>
                                        
<section>
    <label class="textarea">
        <textarea rows="3" name="info" placeholder="Additional info"></textarea>
    </label>
</section>

#}
{% block way %} 
       <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Dodaj recenzję</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
	
