{% extends "ProjektWypozyczalniaSamochodow:Default:layout.html.twig" %}

{% block title %}Potwierdzenie rejestracji{% endblock %}

{% block way %}

    <p><h1>{{ 'Rejestracja przebiegła pomyślnie.'|trans({'%username%': user.username}, 'FOSUserBundle') }}</h1></p>

{% endblock %}