{% extends "ProjektWypozyczalniaSamochodow:Default:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Zaloguj się{% endblock %}


{% block way %}
     <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Logowanie</h2>
                </div>
            </div>
        </div>
    </div>


{% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



<section class="slice slice-lg bg-image">
<div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="wp-block default user-form no-margin">


							
                                                            
                                               
                                       
							
<div class="form-body">							
							
							
							
<form action="{{ path("fos_user_security_check") }}" method="post"  id="frmLogin" class="sky-form">
 <fieldset>      

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
	
										
	
	
	
<section>
<div class="form-group">
    <label class="label" for="username">Email</label>
	<label class="input">
		 <i class="icon-append fa fa-user"></i>
		<input type="email" id="username" name="_username" value="{{ last_username }}" required="required" />
	</label>
</div>	
</section>
	
	
<section>	
<div class="form-group">	
    <label class="label" for="password">Hasło</label>
	<label class="input">
	<i class="icon-append fa fa-lock"></i>
    <input type="password" id="password" name="_password" required="required" />
	</label>
</div>  	
</section>	
	

										
	
	

										<section>
                                            <button class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="submit" id="_submit" name="_submit">
                                                <span>Zaloguj</span>
                                            </button>
                                        </section>


	

    

</fieldset>      
</form>

</div>

							




					



                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}