{% extends "ProjektWypozyczalniaSamochodow:Default:layout.html.twig" %}


{% block title %} Historia zamówieñ {% endblock %}





{% block way %}

<div class="row">
<div class="col-md-4">

</div>
</div>
<!-- MAIN CONTENT -->
<div class="pg-opt">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

{% endblock %}




{% block content %}


{% endblock %}