{% block featured %}
 <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Polecane samochody</span></h3>
                </div>
                <div class="no-margin owl-carousel owl-carousel-4" data-owl-pagination="smth">
                    
					<div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                <span class="ribbon base">New</span>
                            </figure>
                            <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
							HUJ
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>       
                 </div>
				 
            </div>
        </div>
    </section>
{% endblock %}